---
const {entry} = Astro.props;
---
  <a href={`/writing/${entry.slug}`}>{entry.data.title}</a>
  <br />
  {entry.data.tags.map((tag: string) => (
    <>
      <a
        class="text-sm font-light text-green-600 no-underline"
        href={`/writing/tags/${tag}`}
      >
        {tag}
      </a>
      <br />
    </>
  ))}
  <time datetime={entry.data.date.toISOString()}>
    {entry.data.date.toDateString().split(" ").slice(1).join(" ")}
  </time>