---
import { getCollection } from "astro:content";

const {posts, showTags} = Astro.props;
---

<section>
  <ul class="list">
    {
      posts.map((entry) => (
        <>
          <a href={`/writing/${entry.slug}`}>{entry.data.title}</a>
          <br />
          {
            entry.data.tags.map((tag) => (
              <a class="font-light no-underline text-sm text-green-600" href={`/writing/tags/${tag}`}>{tag}</a>
              <br />
            ))
          }
          <time datetime={entry.data.date.toISOString()}>
            {entry.data.date.toDateString().split(' ').slice(1).join(' ')}
          </time>
        </>
      ))
    }
  </ul>
</section>

<style>
  .list {
    padding-left: 0px;
  }
</style>
