---
import { getCollection } from "astro:content";

const {posts} = Astro.props;
---

<section>
  <ul class="list">
    {
      posts.map((entry) => (
        <>
          <a href={`/writing/${entry.slug}`}>{entry.data.title}</a>
          <br />
          <time datetime={entry.data.date.toISOString()}>
            {entry.data.date.toDateString()}
          </time>
        </>
      ))
    }
  </ul>
</section>

<style>
  .list {
    padding-left: 0px;
  }
</style>
